# local .terraform dir
.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variable files, may include sensitive data
*.tfvars

# Ignore CLI configuration fils
.terraformrc
terraform.rc

# ignore crash logs
crash.log